<html>
  <head>
    <title>Python med flask og sqlite3</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='main.css') }}"
    />
  </head>
  <body>
  <body>
    <div class="App">
      <header class="App-header">
        <img
          src="{{ url_for('static', filename='slotshaven-logo.png') }}"
          class="App-logo"
          alt="logo"
        />
        <nav class="menu">
          <a href="/" class="{% if request.path == '/' %}active{% endif %}"
            >Home</a
          >
          <span class="separator"></span>
          <a
            href="/about"
            class="{% if request.path == '/about' %}active{% endif %}"
            >About</a
          >
          <span class="separator"></span>
          <a
            href="/techstack"
            class="{% if request.path == '/techstack' %}active{% endif %}"
            >Tech Stack</a
          >
        </nav>
        <h1>Beatles Albums</h1>
        <form method="post" action="">
          <input
            type="text"
            name="search_term"
            placeholder="Search..."
            required
          />
          <button type="submit">Search</button>
        </form>
        <div class="results">
          {% if not members.members %}
          <p>No results found.</p>
          {% endif %} {% for member in members.members %}
          <details>
            <summary>{{ member.title }}</summary>
            Udkom {{ member.yyear }}
          </details>
          {% endfor %}
        </div>
      </header>
    </div>
  </body>
</html>
